.footer{
    
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 12px;
    z-index: 1000;
}

.container {
    padding-top: 3%;
    height: 80vh;
    display: flex;
    align-items: start; 
 
}

.informacion {

    flex: 1;
    height: 100vh;
    padding: 40px;
    align-content: center;
    justify-content: center;
    text-align: justify;
    background-color: rgba(255, 255, 255, 1);
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.3));
    border-radius: 10px;
}

.collage {

    padding-top: 0.5%;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.collage img {

    padding-left: 5%;
    width: 100%;
    height: auto;
}

.informacion h1:hover {
    color: blue; 
  
}